!!!
%html
  %head
    = partial './ga.html'
    %meta{ charset: 'utf-8' }
    %title Bdash
    %link{ rel: 'stylesheet', href: 'https://use.fontawesome.com/releases/v5.0.12/css/all.css', integrity: 'sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9', crossorigin: 'anonymous' }
    %link{ rel: 'stylesheet', href: './app.css' }
  %body
    %header
      %nav
        %a{ href: 'https://github.com/bdash-app/bdash ' }
          %i.fab.fa-github
          %span GitHub
    = yield
