body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 30px 0;
}

h2 {
  text-align: center;
  margin: 30px 0;
}

.downloads {
  text-align: center;
}

.downloads li {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
}
